<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{pageTitle('My Notification')}"></title>
<link rel="icon" type="image/ico" th:href="@{/static/favicon.ico}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/dataTables.material.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" />

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
</head>

<body class="sb-nav-fixed">
	<div th:replace="/header :: navBar"></div>
	<div id="layoutSidenav">
		<div th:replace="/header :: sideNavBar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid" id="content">
					<br />
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active" ><a th:href="@{/}"><i class="fa fa-home"></i></a></li>
						<li class="breadcrumb-item active" >My Notification</li>
					</ol>
					<div class="alert alert-danger alert-dismissible" th:if="${error}">
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:utext="${error}"></a>
					</div>
					<div class="alert alert-success alert-dismissible"
						th:if="${success}">
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:text="${success}"></a>
					</div>
					<div id="accordionExample">
						<div class="card">
							<div class="card-header" id="headingOne">
								<div class="d-flex justify-content-between">
									<div class="left">Search Criteria</div>
									<div class="right">
										<span class="clickable" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="true"
											aria-controls="collapseOne"> <i
											class="fas fa-angle-down" style="cursor: pointer;"></i>
										</span>
									</div>
								</div>
							</div>
							<div id="collapseOne" class="collapse show"
								aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<form th:action="@{/base/tray/notificationList}" method="post">
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Date</label> <label
												class="col-form-label">:</label>
											<div class="row col-sm-9">
												<div class="row col-sm-4">
													<div class="col">
														<div class="input-group date">
															<input type="text" class="form-control"
																placeholder="dd/mm/yyyy" name="dateFr"
																autocomplete="off" th:value="${dateFr}" />
															<div class="input-group-append">
																<span class="input-group-text"><i
																	class="far fa-calendar-alt"></i></span>
															</div>
														</div>
													</div>
												</div>
												<label class="col-sm-1 col-form-label"
													style="margin-right: 5px;">To</label> <label
													class="col-form-label">:</label>
												<div class="row col-sm-4">
													<div class="col">
														<div class="input-group date">
															<input type="text" class="form-control"
																autocomplete="off" placeholder="dd/mm/yyyy"
																name="dateTo" th:value="${dateTo}" />
															<div class="input-group-append">
																<span class="input-group-text"><i
																	class="far fa-calendar-alt"></i></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Reference ID</label> <label
												class="col-form-label">:</label>
											<div class="row col-sm-7">
												<div class="col">
													<input type="text" class="form-control" id="recId" maxlength="50"
														th:value="${recId}" name="recId">
												</div>
												<div class="col col-sm-4">
													<select class="custom-select" name="exp1">
														<option value="1" th:selected="${exp1=='1'}">Any</option>
														<option value="2" th:selected="${exp1=='2'}">End with</option>
														<option value="3" th:selected="${exp1=='3'}">Exact match</option>
														<option value="4" th:selected="${exp1=='4'}">Start with</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Subject</label> <label
												class="col-form-label">:</label>
											<div class="row col-sm-7">
												<div class="col">
													<input type="text" class="form-control" id="subject" maxlength="200"
														th:value="${subject}" name="subject">
												</div>
												<div class="col col-sm-4">
													<select class="custom-select" name="exp2">
														<option value="1" th:selected="${exp2=='1'}">Any</option>
														<option value="2" th:selected="${exp2=='2'}">End with</option>
														<option value="3" th:selected="${exp2=='3'}">Exact match</option>
														<option value="4" th:selected="${exp2=='4'}">Start with</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label"></label>
											<div class="row col-sm-3">
												<div class="d-flex ">
													<button class="btn btn-primary" type="submit"
														style="margin-right: 5px; margin-left: 18px; width: 90px;">Search</button>
													<a type="button" class="btn btn-primary" th:href="@{/base/tray/notificationList}"
														style="width: 90px;">Reset</a>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<br/>
						<div class="card">
							<div class="card-header" id="headingTwo">Search Result</div>
							<div class="card-body">
								<form action="#" th:action="@{/base/tray/notificationListDel}"
									method="post">
									<div class="d-flex justify-content-end">
										<button class="btn btn-danger" id="btnDelete" type="button"
											data-toggle="modal" data-target="#confirmDialog"
											style="width: 90px;" disabled="disabled">Delete</button>
									</div>

									<div class="modal fade" id="confirmDialog" tabindex="-1"
										role="dialog" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Delete Confirmation</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">Are you confirm to delete
													selected record?</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-primary">Confirm</button>
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Cancel</button>
												</div>
											</div>
										</div>
									</div>

									<table class="table table-bordered" id="idTableDesc">
										<thead>
											<tr>
												<th class="text-left" width="40px"><input
													type="checkbox" id="checkAll" /></th>
												<th class="text-left">Date</th>
												<th class="text-left">Reference ID</th>
												<th class="text-left">Subject</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="notificationItem: ${notificationItems}">
												<td><input type="checkbox" name="tableRow"
													id="tableRow" onclick="delButtonToggle()"
													th:value="${notificationItem.alertId}" /></td>
												<td
													th:text="${#dates.format(notificationItem.createdDate, 'dd/MM/yyyy hh:mm:ss a')}"></td>
												<td th:text="${notificationItem.recordRefDesc}"></a> 													
												</td>
												<td> <a
													th:href="@{/base/tray/viewNotification(alertId=${notificationItem.alertId})}"
													th:text="${notificationItem.subject}"></a>
													<span
														th:if="${notificationItem.readRecipient}"
													class="badge badge-danger">New</span></td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script type="text/javascript" src="../../js/scripts.js"></script>

</body>
<style>
.dataTables_length {
	margin-top: -30px;
}
</style>
</html>
