<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{pageTitle(#{moduleFoldCatgConfForm})}"></title>
<link rel="icon" type="image/ico" th:href="@{/static/favicon.ico}">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-duallistbox.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/dataTables.material.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script	src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script type="text/javascript" src="../../js/jquery.bootstrap-duallistbox.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<style>
.tableFixHead {
	overflow-y: auto;
	overflow-x: hidden;
	height: 300px;
	margin-bottom: 10px;
}

.tableFixHead thead th {
	position: sticky;
	top: 0;
	background: #F5F5F5;
	border-top: none;
	border-bottom: none;
	box-shadow: inset 0 0.1px 0 #000000, inset 0 -0.1px 0 #000000;
	border-bottom: none;
}

.formGap {
	margin-top: -20px;
}
</style>

</head>
<body onload="init()" class="sb-nav-fixed">
	<div th:replace="/header :: navBar"></div>
	<div id="layoutSidenav">
		<div th:replace="/header :: sideNavBar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<br />
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active"><a th:href="@{/}"><i
								class="fa fa-home"></i></a></li>
						<li class="breadcrumb-item active"><a
							th:href="@{/menu/maintenanceMenu}"><span
								th:text="#{menuMaint}"></span></a></li>
						<li class="breadcrumb-item active"><a
							th:href="@{/main/pfc/foldCatgConfList2}"><span
								th:text="#{moduleFoldCatgConfList}"></span></a></li>
						<li class="breadcrumb-item active"><span th:text="#{moduleFoldCatgConfForm}"></span></li>
					</ol>
					<div class="alert alert-danger alert-dismissible" th:if=${error}>
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:utext="${error}"></a>
					</div>
					<div class="alert alert-success alert-dismissible" th:if=${success}>
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:utext="${success}"></a>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo" th:text="${header}"></div>
						<a class="card-header" hidden="true" id="formMode"
							th:text="${mode}"></a>
						<div class="card-body">
							<form action="#" id="mainForm"
								th:action="@{/main/pfc/foldCatgConfForm2Save}" th:object="${foldCatgConfItem}"
								method="POST" data-toggle="validator" novalidate="true"
								enctype="multipart/form-data">
								<div id="hplDiv" class="form-group row">
									<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblHpl}"></span>
										<a name="asterisk" style="color: red;" hidden="true">*</a>
									</label>
									<div class="row col-sm-5">
										<label class="col-form-label">:</label>
										<div class="col">
											<select id="hplId" class="custom-select" name="hplId" th:field="*{hpl}" disabled required
												onchange="onHplChange(); reloadPathSuggestion(); loadProdLn(); loadYear(); loadMonth();">
												<option value="" selected hidden="true">Please Select</option>
												<option th:each="hplItem: ${hplItems}"
													th:value="${hplItem}"
													th:text="${hplItem}"
													th:selected="${hplItem} == ${hpl}"/>
											</select>
										</div>
										<input th:field="*{pkCatgId}" hidden="true">
									</div>
								</div>
																
								<div id="fileForm1Div" class="form-group row" hidden="false">
									<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblFileFormat}"></span>
										<a name="asterisk" style="color: red;" hidden="true">*</a>
									</label>

									<div class="row col-sm-5">
										<label class="col-form-label">:</label>
										<div class="col">
												
											<textarea name="fileForm1"
												id="fileForm1" readonly th:field="*{prodFileFormat}" 
												class="form-control-plaintext"
												maxlength="250" rows="2" style="resize: none;"></textarea>
												
											<label><span id="remarkFormatLbl2" hidden="true" th:text="#{msgFileNameFormatEg2}" style="font-style: italic;font-size: 14px" ></span></label>
										</div>
									</div>
								</div>
												
								<div class="card">									
									<div class="card-body">
										<h5 class="card-title">Directory Information</h5>
										<p class="card-text">This table shows file path and it's related file format (GTMS).</p>
										<p class="card-text">File format is not necessary if the format is the same regardless any file path (IF, MGG).</p>
										<div class="form-group row col"
											style="margin-bottom: -15px">
											<div class="col-xs-2">
												<input id="tabInputSearch"
													class="form-control form-control-sm"
													placeholder="Search...">
											</div>
										</div>
										<br>
										<div class="tableFixHead" style="overflow-x: scroll;">
											<table class="table table-bordered table-striped" >
												<caption>List of directories</caption>
												<thead>
													<tr>
														<th class="text-left"><span th:text="#{lblFilePath}"></span></th>
														<th class="text-left"><span th:text="#{lblProdLn}"></span></th>
														<th class="text-left"><span th:text="#{lblYear}"></span></th>
														<th class="text-left"><span th:text="#{lblMonth}"></span></th>
														<th class="text-left"><span th:text="#{lblFileFormat}"></span></th>
													</tr>
												</thead>
												<tbody id="tabSearchResult">
													<tr th:each="relPath: ${relPathList}">
														<td><a th:text="${relPath.filePath}"
															th:href="@{/main/pfc/relPathFormGetData2(rowNo=${relPath.rowNo})}"></a></td>
														<td th:text="${relPath.prodLn}"></td>
														<td th:text="${relPath.year}"></td>
														<td th:text="${relPath.mth}"></td>
														<td th:text="${relPath.prodFileFormat}"></td>
													</tr>
												</tbody>
											</table>
										</div>
		
										<button class="btn btn-primary" type="submit" value="add"
											name="action" th:disabled="${listAddBtn}" id="btnInfoAdd"
											style="width: 130px;"><span th:text="#{btnAddToList}"></span></button>
										<button class="btn btn-primary" type="submit" value="update"
											name="action" th:disabled="${listUpdateBtn}"
											style="width: 130px;"><span th:text="#{btnUpdateToList}"></span></button>
										<button class="btn btn-primary" type="submit" value="delete"
											name="action" th:disabled="${listDeleteBtn}"
											style="width: 130px;"><span th:text="#{btnDeleteFromList}"></span></button>
										<br /> <br />
										
										<div id="hplModelDiv" class="form-group row" hidden="true">
											<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblHplModel}"></span>
											</label>
		
											<div id="hplModelFrag" class="row col-sm-5">
												<label class="col-form-label">:</label>
												<div class="col">
													<select id="hplModelId" class="custom-select" name="hplModelId" th:value="${hModel}" disabled>
														<option value="" selected hidden="true">Please Select</option>
														<option th:each="hplModelItem: ${hplModelItems}"
															th:value="${hplModelItem}"
															th:text="${hplModelItem}"
															th:selected="${hplModelItem} == ${hModel}"/>
													</select>
													<select class="custom-select" name="hplModelId2" id="hplModelId2" disabled hidden="true">
														<option value="" selected hidden="true">Please Select</option>
													</select>
												</div>
											</div>
										</div>
										
										<div id="procTypeDiv" class="form-group row"  hidden="true">
											<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblProcType}"></span>
												<a name="asterisk" style="color: red;" hidden="true">*</a>
											</label>
		
											<div class="row col-sm-5">
												<label class="col-form-label">:</label>
												<div class="col">
													<select id="procType" class="custom-select" name="procType" th:value="${procType}" disabled 
														onchange="reloadPathSuggestion(); loadGtmsFileForm();">
														<option value="" selected hidden="true">Please Select</option>
														<option th:each="procTypeItem: ${procTypeItems}"
															th:value="${procTypeItem.value}"
															th:text="${procTypeItem.label}"
															th:selected="${procTypeItem.value} == ${procType}"/>
													</select>
												</div>
											</div>
										</div>	
										
										<div id="subProcDiv" class="form-group row"  hidden="true">
											<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblSubProc}"></span>
												<a name="asterisk" style="color: red;" hidden="true">*</a>
											</label>
		
											<div class="row col-sm-5">
												<label class="col-form-label">:</label>
												<div class="col">
													<select id="subProc" class="custom-select" name="subProc" th:value="${subProc}" disabled 
														onchange="reloadPathSuggestion(); loadGtmsFileForm();">
														<option value="" selected hidden="true">Please Select</option>
														<option th:each="subProcItem: ${subProcItems}"
															th:value="${subProcItem}"
															th:text="${subProcItem}"
															th:selected="${subProcItem} == ${subProc}"/>
													</select>
												</div>
											</div>
										</div>	
										
										<div id="yearDiv" class="form-group row">
											<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblYear}"></span>
												<a name="asterisk" style="color: red;" hidden="true">*</a>
											</label>
		
											<div class="row col-sm-5">
												<label class="col-form-label">:</label>
												<div class="col">
													<select id="year" class="custom-select" name="year" th:value="${year}" disabled >
														<option value="" selected hidden="true">Please Select</option>
														<option th:each="yearItem: ${yearItems}"
															th:value="${yearItem.strValue}"
															th:text="${yearItem.label}"
															th:selected="${yearItem.strValue} == ${year}"/>
													</select>
													<select class="custom-select" name="year2" id="year2" disabled hidden="true"
														onchange="reloadPathSuggestion(); loadProdLn(); loadMonth();">
														<option value="" selected hidden="true">Please Select</option>
													</select>
												</div>
											</div>
										</div>
										
										<div id="mthDiv" class="form-group row">
											<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblMonth}"></span>
												<a name="asterisk" style="color: red;" hidden="true">*</a>
											</label>
		
											<div class="row col-sm-5">
												<label class="col-form-label">:</label>
												<div class="col">
													<select id="mth" class="custom-select" name="mth" th:value="${mth}" disabled >
														<option value="" selected hidden="true">Please Select</option>
														<option th:each="monthItem: ${monthItems}"
															th:value="${monthItem.strValue}"
															th:text="${monthItem.label}"
															th:selected="${monthItem.strValue} == ${mth}"/>
													</select>
													<select class="custom-select" name="mth2" id="mth2" disabled hidden="true" 
														onchange="reloadPathSuggestion(); loadProdLn();">
														<option value="" selected hidden="true">Please Select</option>
													</select>
												</div>
											</div>
										</div>
										
										<div id="dayDiv" class="form-group row"  hidden="true">
											<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblDay}"></span>
											</label>
		
											<div class="row col-sm-5">
												<label class="col-form-label">:</label>
												<div class="col">
													<select id="day" class="custom-select" name="day" th:value="${day}" disabled >
														<option value="" selected hidden="true">Please Select</option>
														<option th:each="dayItem: ${dayItems}"
															th:value="${dayItem.strValue}"
															th:text="${dayItem.label}"
															th:selected="${dayItem.strValue} == ${day}"/>
													</select>
												</div>
											</div>
										</div>										
										
										<div id="prodLnDiv" class="form-group row">
											<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblProdLn}"></span>
												<a name="asterisk" style="color: red;" hidden="true">*</a>
											</label>
		
											<div class="row col-sm-5">
												<label class="col-form-label">:</label>
												<div class="col">
													<!-- <input type="text" id="prodLn" readonly name="prodLn"
														class="form-control-plaintext" th:value="${prodLn}"
														onchange=" reloadPathSuggestion();"
														required maxlength="20"> -->
														
													<select id="prodLn" class="custom-select" name="prodLn" th:value="${prodLn}" disabled >
														<option value="" selected hidden="true">Please Select</option>
														<option th:each="prodLnItem: ${prodLnItems}"
															th:value="${prodLnItem}"
															th:text="${prodLnItem}"
															th:selected="${prodLnItem} == ${prodLn}"/>
													</select>
													<select class="custom-select" name="prodLn2" id="prodLn2" disabled hidden="true" onchange="reloadPathSuggestion();">
														<option value="" selected hidden="true">Please Select</option>
													</select>
													
												</div>
											</div>
										</div>
										
										<div id="seqDiv" class="form-group row"  hidden="true">
											<label class="col-sm-2 col-form-label control-label"><span th:text="#{lblSeq}"></span>
											</label>
		
											<div class="row col-sm-5">
												<label class="col-form-label">:</label>
												<div class="col">
												
													<input type="text" id="seq" readonly name="seq"
														class="form-control-plaintext" th:value="${seq}"
														maxlength="10">
		
												</div>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label"><span th:text="#{lblFilePath}"></span>
												<a name="asterisk" style="color: red;" hidden="true">*</a></label><label
												class="col-form-label">:</label>
											<div class="row col-sm-5">
												<div class="col">
												
													<textarea name="relPathFilePath"
														id="relPathFilePath" readonly th:text="${relPathFilePath}"
														class="form-control-plaintext"
														maxlength="250" rows="2" style="resize: none;"></textarea>
													
													<label><span id="remarkPathLbl" hidden="true" th:text="#{msgFilePathFormatEg}" style="font-style: italic;font-size: 14px"></span></label>
														
														
												</div>
											</div>
										</div>
										
										<div id="relPathFormatDiv" class="form-group row">
											<label class="col-sm-2 col-form-label"><span th:text="#{lblFileFormat}"></span>
												<a name="asterisk" style="color: red;" hidden="true">*</a></label><label
												class="col-form-label">:</label>
											<div class="row col-sm-5">
												<div class="col">
													<textarea name="relPathFileFormat"
														id="relPathFileFormat" readonly th:text="${relPathFileFormat}"
														class="form-control-plaintext"
														maxlength="250" rows="2" style="resize: none;"></textarea>
														
													<input type="text"
															class="form-control" name="rowNo" hidden="true"
															th:value="${rowNo}">
															
													<label><span id="remarkFormatLbl" hidden="true" th:text="#{msgFileNameFormatEg}" style="font-style: italic;font-size: 14px"></span></label>
															
												</div>
											</div>
										</div>
										
									</div>								
								</div>	

							</form>
						</div>
					</div>
					<div class="form-group row" th:if="${createdInfo}" id="createdInfo">
						<div class="row col-sm-12">
							<div class="col">
								<a style="float: left;" th:text="${createdInfo}"></a> <a
									style="float: right; margin-right: -30px;"
									th:text="${modifiedInfo}"></a>
							</div>
						</div>
					</div>
					<div id="break" hidden="true">
						<br />
					</div>
					<div th:if="${formMode == 'add'}">
						<br />
					</div>
					<div th:if="${formMode == 'edit'}">
						<br />
					</div>

					<div style="margin-bottom: 20px;">
						<button class="btn btn-primary dropdown-toggle" type="button"
							id="btnAction" data-toggle="dropdown" style="width: 90px;"
							aria-haspopup="true" aria-expanded="false"
							th:hidden="${hidFunctionType_2}" th:text="#{btnAction}"></button>
						<div class="dropdown-menu" style="width: 90px;"
							aria-labelledby="dropdownMenuButton">
							<button class="dropdown-item btn" type="submit" form="mainForm"
								th:hidden="${btnEdit}" id="btnEdit" value="edit" name="action" th:text="#{btnEdit}"></button>
							<button class="dropdown-item btn" form="mainForm" type="button"
								th:hidden="${btnSaveSts}" id="btnSave" 
								th:text="${btnSave}"
								data-toggle="modal" data-target="#saveConfirmDialog"></button>
						</div>

						<button class="btn btn-primary" style="width: 90px;" type="button"
							id="btnAddCancel" data-toggle="modal" hidden="true"
							data-target="#cancelConfirmDialog">Cancel</button>

						<a class="btn btn-primary" style="width: 90px;" type="button"
							id="btnViewCancel" th:href="@{/main/pfc/foldCatgConfList2}">Close</a>
							
						<button class="btn btn-primary" style="width: 90px;"
							hidden="true" id="btnEditCancel" type="button"
							data-toggle="modal" data-target="#cancelEditConfirmDialog">Cancel</button>
									
						<!-- Confirmation message -->
						<div class="modal fade" id="confirmDialog" tabindex="-1"
							role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:text="${confirmHeader}"></h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" th:text="${confirmMsg}"></div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary"
											onclick="onCancel()">Confirm</button>
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Confirmation Save Message -->
						<div class="modal fade" id="saveConfirmDialog" tabindex="-1"
							role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Save Confirmation</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">Do you confirm to save this
										record?</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary" form="mainForm"
											value="save" name="action">Confirm</button>
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Confirmation To Add Page Message -->
						<div class="modal fade" id="cancelEditConfirmDialog" tabindex="-1"
							role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cancel Confirmation</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">Do you want to cancel edit this record?</div>
									<div class="modal-footer">
										<a class="btn btn-primary" style="width: 90px;" type="button"
											id="btnAddCancel" th:href="@{/main/pfc/foldCatgConfList2}">Confirm</a>

										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Confirmation To Search List Message -->
						<div class="modal fade" id="cancelConfirmDialog" tabindex="-1"
							role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cancel Confirmation</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">Do you want to cancel this record?</div>
									<div class="modal-footer">
										<a class="btn btn-primary" style="width: 90px;" type="button"
											id="btnAddCancel" th:href="@{/main/pfc/foldCatgConfList2}">Confirm</a>

										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel</button>
									</div>
								</div>
							</div>
						</div>



					</div>
				</div>
			</main>
		</div>
	</div>

	<script type="text/javascript">
		//When initialise page
		function init() {

			var mode = document.getElementById("formMode").text;

			//Enable form for add
			if (mode == "add") {
				/*$("#foldCatgConfNameTitle").addClass("required");
				$("#foldCatgConfName").addClass("form-control");
				$("#foldCatgConfName").removeClass("form-control-plaintext");
				document.getElementById("foldCatgConfName").removeAttribute("readonly");
				document.getElementById("asterisk").hidden = false;*/		
				
				document.getElementById("hplModelId").disabled = true;
				document.getElementById("hplModelId").hidden = true;

				document.getElementById("hplModelId2").disabled = false;
				document.getElementById("hplModelId2").hidden = false;

				document.getElementById("btnAddCancel").hidden = false;
				document.getElementById("btnViewCancel").hidden = true;
				
				enableEditMode();
			} else if (mode == "edit") {
				
				/*document.getElementById("hplModelId").disabled = false;
				document.getElementById("hplModelId").hidden = false;*/
				
				document.getElementById("hplModelId").disabled = true;
				document.getElementById("hplModelId").hidden = true;

				document.getElementById("hplModelId2").disabled = false;
				document.getElementById("hplModelId2").hidden = false;
				
				onHplChange();

				document.getElementById("btnEditCancel").hidden = false;
				document.getElementById("btnViewCancel").hidden = true;
				
				enableEditMode();
			} else if (mode == "view") {
				document.getElementById("hplModelId").hidden = false;
				//document.getElementById('fileForm1').required = false;
			}
		}

		///* Enable form when edit or add */
		function enableEditMode() {

			var mode = document.getElementById("formMode").text;

			if (mode == "view") {
				document.getElementById("headingTwo").textContent = "Edit Folder-Category";
				document.getElementById("createdInfo").hidden = true;
			}

			document.getElementById("break").hidden = false;
			document.getElementById("remarkPathLbl").hidden = false;
			document.getElementById("remarkFormatLbl").hidden = false;
			document.getElementById("remarkFormatLbl2").hidden = false;
			document.getElementById("hplId").disabled = false;
			//document.getElementById("year").disabled = false;
			//document.getElementById("mth").disabled = false;
			document.getElementById("day").disabled = false;
			//document.getElementById("hplModelId").disabled = false;
			document.getElementById("procType").disabled = false;
			document.getElementById("subProc").disabled = false;

			//$("#hplDiv").addClass("required");
			
			document.getElementById("prodLn").disabled = true;
			document.getElementById("prodLn").hidden = true;
			document.getElementById("prodLn2").disabled = false;
			document.getElementById("prodLn2").hidden = false;
			
			document.getElementById("year").disabled = true;
			document.getElementById("year").hidden = true;
			document.getElementById("year2").disabled = false;
			document.getElementById("year2").hidden = false;
			
			document.getElementById("mth").disabled = true;
			document.getElementById("mth").hidden = true;
			document.getElementById("mth2").disabled = false;
			document.getElementById("mth2").hidden = false;
			
			$("#hplId").addClass("form-control");
			$("#hplId").removeClass("form-control-plaintext");
			document.getElementById("hplId").removeAttribute("readonly");

			/*$("#hplModelId").addClass("form-control");
			$("#hplModelId").removeClass("form-control-plaintext");
			document.getElementById("hplModelId").removeAttribute("readonly");	*/
			
			$("#year").addClass("form-control");
			$("#year").removeClass("form-control-plaintext");
			document.getElementById("year").removeAttribute("readonly");
			
			$("#mth").addClass("form-control");
			$("#mth").removeClass("form-control-plaintext");
			document.getElementById("mth").removeAttribute("readonly");
			
			$("#day").addClass("form-control");
			$("#day").removeClass("form-control-plaintext");
			document.getElementById("day").removeAttribute("readonly");
			
			$("#procType").addClass("form-control");
			$("#procType").removeClass("form-control-plaintext");
			document.getElementById("procType").removeAttribute("readonly");
			
			$("#subProc").addClass("form-control");
			$("#subProc").removeClass("form-control-plaintext");
			document.getElementById("subProc").removeAttribute("readonly");
			
			$("#prodLn").addClass("form-control");
			$("#prodLn").removeClass("form-control-plaintext");
			document.getElementById("prodLn").removeAttribute("readonly");
			
			$("#seq").addClass("form-control");
			$("#seq").removeClass("form-control-plaintext");
			document.getElementById("seq").removeAttribute("readonly");
			
			$("#fileForm1").addClass("form-control");
			$("#fileForm1").removeClass("form-control-plaintext");
			document.getElementById("fileForm1").removeAttribute("readonly");
			
			$("#relPathFilePath").addClass("form-control");
			$("#relPathFilePath").removeClass("form-control-plaintext");
			document.getElementById("relPathFilePath").removeAttribute("readonly");

			$("#relPathFileFormat").addClass("form-control");
			$("#relPathFileFormat").removeClass("form-control-plaintext");
			document.getElementById("relPathFileFormat").removeAttribute("readonly");
			
			document.getElementsByName("asterisk").forEach(e => {e.hidden = false;});

			document.getElementById("btnSave").hidden = false;
			document.getElementById("btnEdit").hidden = true;
			/*document.getElementById("btnCancel").hidden = true;
			document.getElementById("btnConfirmCancel").hidden = false;*/
		}

		function onCancel() {
			window.location = "[[@{/main/pfc/foldCatgConfList2}]]";
		}
		
		function loadProdLn(){
			var hplId = document.getElementById("hplId").value;		
			var hplModelId2 = document.getElementById("hplModelId2").value;		
			var year = document.getElementById("year2").value;				
			var mth = document.getElementById("mth2").value;					
			var day = document.getElementById("day").value;					
			var prodLn2 = "";		
			
			var ctx = "[[@{/}]]"; 
			var prodLn2Temp = "[(${prodLn2Temp})]";
			
			$.ajax({
				url : ctx+"main/pfc/api/getProdLnByHpl?hplId="+ hplId+"&hplModelId2="+hplModelId2+"&year="+year+"&mth="+mth+"&day="+day,
				type : "GET",
				success : function(data) {
					var prodLnList = data.items;					
					// ProdLn ddropdown
					$("#prodLn2").empty();
					var prodLnOption = "<option value = ''>Please Select</option>";
					$("#prodLn2").append(prodLnOption);
					for(var dt2 in prodLnList){				
						if(prodLn2Temp == prodLnList[dt2]){
							prodLnOption = "<option value = " + prodLnList[dt2] + " selected>" + prodLnList[dt2] +  "</option>";
							$("#prodLn2").append(prodLnOption);
						} else {
							prodLnOption = "<option value = " + prodLnList[dt2] + ">" + prodLnList[dt2] +  "</option>";
							$("#prodLn2").append(prodLnOption);
						}												
					}	
					
				}
			});
		}
		
		function onHplChange() {
			var id = document.getElementById("hplId").value;			
			var ctx = "[[@{/}]]"; 
			var hplModelId2Temp = "[(${hplModelId2Temp})]";

			$.ajax({
				url : ctx+"main/pfc/api/getHplModelByHpl?hpl="+ id,
				type : "GET",
				success : function(data) {
					var items = data.items;
					$("#hplModelId2").empty();
					var option = "<option value = ''>Please Select</option>";
					$("#hplModelId2").append(option);
					for(var dt in items){						
						if(hplModelId2Temp == items[dt]){
							option = "<option value = " + items[dt] + " selected>" + items[dt] +  "</option>";
							$("#hplModelId2").append(option);
						} else {
							option = "<option value = " + items[dt] + ">" + items[dt] +  "</option>";
							$("#hplModelId2").append(option);
						}
												
					}	 		
				}
			});
			
			if(id === 'GTMS') {
				document.getElementById('fileForm1Div').hidden = true;
				//document.getElementById('fileForm1').required = false;
				document.getElementById('relPathFormatDiv').hidden = false;
				document.getElementById('procTypeDiv').hidden = false;
				document.getElementById('subProcDiv').hidden = false;
			} else {
				document.getElementById('fileForm1Div').hidden = false;
				//document.getElementById('fileForm1').required = true;
				document.getElementById('relPathFormatDiv').hidden = true;
				document.getElementById('procTypeDiv').hidden = true;
				document.getElementById('subProcDiv').hidden = true;
			}
			
			var mode = document.getElementById("formMode").text;
			if(mode === 'add'){
				var defIf = "[(${defaultIF})]";
				var defMGG = "[(${defaultMGG})]";
				if(id === 'IF') {
					document.getElementById("fileForm1").value = defIf;
				} else if (id === 'MGG') {
					document.getElementById("fileForm1").value = defMGG;
				}
			}			
		}
		
		function loadGtmsFileForm(){
			var id = document.getElementById("hplId").value;
			var defaultGTMSM = "[(${defaultGTMSM})]";
			var defaultGTMSF1 = "[(${defaultGTMSF1})]";
			var defaultGTMSF23 = "[(${defaultGTMSF23})]";
			var proc = document.getElementById("procType").value;	
			var subProc = document.getElementById("subProc").value;	
			
			//alert("proc = "+proc+"; sub = "+ subProc);
			
			var mode = document.getElementById("formMode").text;
			if(mode === 'add'){
				if(proc === '1') {
					if (subProc === 'CELL1' || subProc === 'CELL2' || subProc === 'CELL3'){
						document.getElementById("relPathFileFormat").value = defaultGTMSM;
					} else {
						document.getElementById("relPathFileFormat").value = '';
					}
					
				} else if(proc === '2') {
					if(subProc === 'FET1'){
						document.getElementById("relPathFileFormat").value = defaultGTMSF1;
					} else if (subProc === 'FET2' || subProc === 'FET3'){
						document.getElementById("relPathFileFormat").value = defaultGTMSF23;
					} else {
						document.getElementById("relPathFileFormat").value = '';
					}
				}
			}
			
		}
		
		function loadYear(){
			var hplId = document.getElementById("hplId").value;		
			var hplModelId2 = document.getElementById("hplModelId2").value;		
			
			var ctx = "[[@{/}]]"; 
			var year2Temp = "[(${year2Temp})]";
			
			$.ajax({
				url : ctx+"main/pfc/api/getYearByHpl?hplId="+ hplId+"&hplModelId2="+hplModelId2,
				type : "GET",
				success : function(data) {
					var yearData = data.items;					
					// ProdLn ddropdown
					$("#year2").empty();
					var prodLnOption = "<option value = ''>Please Select</option>";
					$("#year2").append(prodLnOption);
					for(var dt2 in yearData){				
						if(year2Temp == yearData[dt2]){
							prodLnOption = "<option value = " + yearData[dt2] + " selected>" + yearData[dt2] +  "</option>";
							$("#year2").append(prodLnOption);
						} else {
							prodLnOption = "<option value = " + yearData[dt2] + ">" + yearData[dt2] +  "</option>";
							$("#year2").append(prodLnOption);
						}												
					}	
					
				}
			});
		}
		
		function loadMonth(){
			var hplId = document.getElementById("hplId").value;		
			var hplModelId2 = document.getElementById("hplModelId2").value;	
			var year = document.getElementById("year2").value;		
			
			var ctx = "[[@{/}]]"; 
			var mth2Temp = "[(${mth2Temp})]";
			
			$.ajax({
				url : ctx+"main/pfc/api/getMonthByHpl?hplId="+ hplId+"&hplModelId2="+hplModelId2+"&year="+year,
				type : "GET",
				success : function(data) {
					var monthData = data.items;					
					// ProdLn ddropdown
					$("#mth2").empty();
					var prodLnOption = "<option value = ''>Please Select</option>";
					$("#mth2").append(prodLnOption);
					for(var dt2 in monthData){				
						if(mth2Temp == monthData[dt2]){
							prodLnOption = "<option value = " + monthData[dt2] + " selected>" + monthData[dt2] +  "</option>";
							$("#mth2").append(prodLnOption);
						} else {
							prodLnOption = "<option value = " + monthData[dt2] + ">" + monthData[dt2] +  "</option>";
							$("#mth2").append(prodLnOption);
						}												
					}	
					
				}
			});
		}
		
		function reloadPathSuggestion(){
			var mode = document.getElementById("formMode").text;
			var result = "[(${defaultDataPath})]";
			var hpl = $("#hplId option:selected").text();
			var hplId = document.getElementById("hplId").value;	
			var year = document.getElementById("year2").value;	
			var month = document.getElementById("mth2").value;	
			var prodLn2 = document.getElementById("prodLn2").value;	
			var proc = document.getElementById("procType").value;	
			var procType = $("#procType option:selected").text();
			var subProc = document.getElementById("subProc").value;	
			
			if(hplId !== '')
				result = result +  hpl + "/";
			if(hplId !== '' && hplId === 'GTMS'){
				if(procType !== '' && proc !== 0)
					result = result +  procType + "/";	
				if(prodLn2 !=='')
					result = result + procType + "#" +prodLn2 + "/";
				if(subProc !== '')
					result = result +  subProc + "/";		
			} else {
				if(prodLn2 !=='')
					result = result + hplId + "#" +prodLn2 + "/";						
			}
			if(year !== '')
				result = result + year + "/";			
			if(month !=='')
				result = result + month + "/";			
			
			
			//alert("result="+result);
			
			document.getElementById("relPathFilePath").value = result;			
			
		}
		
		$(document).ready(function() {
			$("#hplId").change(function() {
				onHplChange();
		    });
		    
		    if(!$("#hplModelId2").val()) {
		    	onHplChange();
		    };
		    
		    if(!$("#prodLn2").val()) {
		    	loadProdLn();
		    };
		    
		    if(!$("#year2").val()) {
		    	loadYear();
		    };
		    
		    if(!$("#mth2").val()) {
		    	loadMonth();
		    };
		    
		    $("#tabInputSearch").on("keyup",function() {
				var value = $(this).val().toLowerCase();
				$("#tabSearchResult tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
		
	</script>

	<script type="text/javascript" src="../../js/scripts.js"></script>

</body>

<style>
#foldCatgConfDesc {
	resize: none;
}
</style>
</html>
