<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PFC - Final Permissibility and Compliance Report</title>
<link rel="icon" type="image/ico" th:href="@{/static/favicon.ico}">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

<style>
.form-group.required .control-label:after {
	content: " *";
	color: red;
}
</style>

</head>
<body onload="init()" class="sb-nav-fixed">
	<div th:replace="/header :: navBar"></div>
	<div id="layoutSidenav">
		<div th:replace="/header :: sideNavBar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<br />
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active" ><a th:href="@{/}"><i class="fa fa-home"></i></a></li>
						<li class="breadcrumb-item active" ><a th:href="@{/menu/permissibilityMenu}"><span th:text="#{menuFinalPerm}"></span></a></li>
						<li class="breadcrumb-item active" >Final Permissibility and Compliance Report</li>
					</ol>
					<div class="alert alert-danger alert-dismissible" th:if=${error}>
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:utext="${error}"></a>
					</div>
					<div class="alert alert-success alert-dismissible" th:if=${success}>
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:utext="${success}"></a>
					</div>
					<div class="card">
						<div class="card-header" id="headingOne">Final Permissibility Report</div>
						<a class="card-header" hidden="true" id="formMode"
							th:text="${mode}"></a>
						<div class="card-body">
							<form action="#" id="mainForm"
								th:action="@{/main/product/compliance}"
								method="POST"
								enctype="multipart/form-data">			
								<div class="form-group row">
									<label class="col-sm-2 col-form-label control-label">Product Name</label>
									<div class="row col-sm-5">
										<label class="col-form-label">:</label>
										<div class="col">
											<select class="custom-select" id="product" name="product" size="5" 	
											multiple>																				
												<option th:each="pItem : ${productItem}" th:selected="${pItem.idx}"
													th:value="${pItem.idx}" th:utext="${pItem.prName}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label control-label">Country</label>
									<div class="row col-sm-5">
										<label class="col-form-label">:</label>
										<div class="col">
											<select class="custom-select" id="country" size="5" multiple
											name="country">
												<option th:each="cItem : ${countryList}"
												th:value="${cItem.countryId}" th:selected="${cItem.countryId}"
												th:utext="${cItem.countryName}"></option>												
											</select>
										</div>
									</div>
								</div>
							</form>
							<p style="font-style: italic;">Note: Letter display in PDF format</p>
						</div>
					</div>
					<br />
					<!-- FSGS) Faiz 2021/3/4 - change print to preview -->
					<button class="btn btn-primary" style="width: 90px;" id="btnPrint" 
					data-toggle="modal" data-target="#confirmDialog">Preview</button> 
					<button class="btn btn-primary" style="width: 90px;" type="button"
						id="btnCancel" onclick="onCancel()">Cancel</button>
					<a class="btn btn-primary" style="width: 90px;" type="button"
						id="btnReset" th:href="@{/main/product/compliance}">Reset</a>
					<div class="modal fade" id="confirmDialog" tabindex="-1"
						role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" th:text="${confirmHeader}"></h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" th:text="${confirmMsg}"></div>
								<div class="modal-footer">
									<!-- FSGS) Faiz 2021/3/4 - change print to preview -->
									<button class="btn btn-primary" form="mainForm"
										type="submit" value="true" name="preview" id="confirmBtn">Confirm</button>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
			</main>
		</div>
	</div>

	<script type="text/javascript">
		//Refresh screen when dropdown is changed	
		function reloadScreen() {
				
			document.getElementById("mainForm").submit();
		}
		function onCancel() {

			window.location = "[[@{/menu/permissibilityMenu}]]";
		}
		
		function validation() {
			
			var hasError = false;
			
			if( document.getElementById("date").value == ""){
				
				alert( "Please fill out this field." );
	            document.getElementById("date").focus() ;
	            return false;
			} 
		
			if(document.getElementById("product").value == ""){
				alert( "Please provide your name!" );
	            document.myForm.Name.focus() ;
	            return false;
			}
			
			document.getElementById("mainForm").submit();
		}
		
		// 20210125 - aminkamilm
		// Hide modal when download/save-as window pop-up
	    $(function () {
	        $("#confirmBtn").click(function () {
	            $("#confirmDialog").modal("hide");
	        });
	    });
	</script>

	<script type="text/javascript" src="../../js/scripts.js"></script>

</body>
</html>
