<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PFC - Raw Material Regulation File List</title>
<link rel="icon" type="image/ico" th:href="@{/static/favicon.ico}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/dataTables.material.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
</head>

<body class="sb-nav-fixed">
	<div th:replace="/header :: navBar"></div>
	<div id="layoutSidenav">
		<div th:replace="/header :: sideNavBar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid" id="content">
					<br />							
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active" ><a th:href="@{/}"><i class="fa fa-home"></i></a></li>
						<li class="breadcrumb-item active" ><a th:href="@{/menu/rawMaterialMenu}"><span th:text="#{menuRM}"></span></a></li>
						<li class="breadcrumb-item active" >Raw Material Regulation</li>
					</ol>
					<div class="alert alert-danger alert-dismissible" th:if=${error}>
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:utext="${error}"></a>
					</div>
									      	
					<div class="alert alert-success alert-dismissible" th:if=${success}>
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:utext="${success}"></a>
					</div>
					
					<div id="accordion">
						<div class="card">
							<div class="card-header" id="headingOne">
								<div class="d-flex justify-content-between">
									<div class="left">Search Criteria for Raw material Regulation File</div>
									<div class="right">
										<span class="clickable" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="true"
											aria-controls="collapseOne"> <i
											class="fas fa-angle-down" style="cursor: pointer;"></i>
										</span>
									</div>
								</div>
							</div>
							
							<div id="collapseOne" class="collapse show"
								aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
								
									<form 
										th:action="@{/main/material/searchRawMatlRegList}" 
										method="post">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Raw Material Name</label>
											<label class="col-form-label">:</label>
											<div class="row col-sm-6">
												<div class="col">
													<select class="custom-select" id="rawMatlId" 
															name="rawMatlId">
														<option value="0" selected>Please Select</option>
														<option th:each="rawMatl: ${rawMatlItems}"
															th:value="${rawMatl.rawMatlId}" 
															th:text="${rawMatl.rawMatlName}" 
															th:selected="${rawMatl.rawMatlId==rawMatlId}"/>
													</select>
												</div>		
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Country</label>
											<label class="col-form-label">:</label>
											<div class="row col-sm-6">
												<div class="col">
													<select id="countryId" class="custom-select" 
															name="countryId">
														<option value="" selected>Please Select</option>
														<option th:each="country: ${countryItems}"
															th:value="${country.countryId}" 
															th:text="${country.countryName}" 
															th:selected="${country.countryId==countryId}"/>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-3 col-form-label"></label>
											
											<div class="row col-sm-6">
												<div class="d-flex ">
													<button class="btn btn-primary" type="Submit"
														style="margin-right:5px; margin-left:15px; width:90px;">Search</button>
													<a type="button" class="btn btn-primary" th:href="@{/main/material/rawMatlRegList}"
														style="width: 90px;">Reset</a>
												</div>
												
												<div class="col col-sm-4"> </div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
											
						<div class="card">
							<div class="card-header" id="headingTwo">Raw Material Regulation Listing </div>
							<div class="card-body">	
									
								<div class="d-flex justify-content-end">  
									<div class="ml-auto">  		
										<a class="btn btn-primary" th:href="@{/main/material/rawMatlRegForm}"
											style="margin-bottom: 10px; width: 90px;">Add</a>
									</div>	
								</div>
								<table class="table table-bordered table-responsive" id="idTableNoBox">
									<thead>
										<tr>
											<th scope="col">Raw Material Name</th>
											<th scope="col">Country</th>
											<th scope="col">File Group</th>
											<th scope="col">File Category</th>
											<th scope="col">File Name</th>
											<th scope="col">Reference</th>
											<th scope="col">Remark</th>
										</tr>
									</thead>
																		
									<tbody>		
									
										<tr th:block th:each="regItem: ${regListItems}">
											<td><a
												th:href="@{/main/material/rawMatlRegFormView(regId=${regItem.regId}, countryId=${regItem.countryId})}"
												th:text="${regItem.rawMatlName}"></a></td>
											<td th:text="${regItem.countryName}"></td>
											
											<td>  
									            <span th:block th:each="regDoc: ${regItem.regDocList}">
									                <span th:if= "${regDoc.regDocCatGrpName != null}" 
									                	th:text="${regDoc.regDocCatGrpName}" th:value="${regDoc.regDocCatGrpId}"></span><br />
									            </span>
									        </td>    
									        <td>
									            <span th:block th:each="regDoc: ${regItem.regDocList}">
									                <span th:if= "${regDoc.regDocCatName != null}" 
									                	th:text="${regDoc.regDocCatName}" th:value="${regDoc.regDocCatId}"></span><br />
									            </span>
									        </td> 
									        <td>   
									            <span th:block th:each="regDoc: ${regItem.regDocList}" >
									                <a th:if= "${regDoc.fileNameDis !=null}" 
									                	th:href="@{/main/material/rawMatlRegFormDownloadViewFile(id=${regDoc.regDocId})}"
														th:text="${regDoc.fileNameDis}" th:value="${regDoc.fileNameDis}"></a><br />
									            </span>
											</td>	
											<td>
									            <span>
									                <span th:text="${regItem.refUrl1}"  th:value="${regItem.refUrl1}"></span><br />
									                
									                <span th:if= "${regItem.refUrl2 != ''}" th:text=${regItem.refUrl2} 
									                	th:value=${regItem.refUrl2}></span> 
									                	<span th:if= "${regItem.refUrl2 != ''}"><br /></span>
									                	
									                <span th:if= "${regItem.refUrl3 != ''}" th:text=${regItem.refUrl3} 
									                	th:value=${regItem.refUrl3}></span> 
									                	<span th:if= "${regItem.refUrl3 != ''}"><br /></span>
									                	
									                <span th:if= "${regItem.refUrl4 != ''}" th:text=${regItem.refUrl4} 
									                	th:value=${regItem.refUrl3}></span> 
									                	<span th:if= "${regItem.refUrl4 != ''}"><br /></span>
									                	
									                <span th:if= "${regItem.refUrl5 != ''}" th:text=${regItem.refUrl5} 
									                	th:value=${regItem.refUrl3}></span>
									            </span>
        									</td>											
											<td th:text="${regItem.remarks}"></td>
										</tr>	    	
									</tbody>
								</table>
							</div>
						</div>
			
				</div>
			</main>
		</div>
	</div>
	
	<script type="text/javascript" src="../../js/scripts.js"></script>
	
</body>

<style>
.dataTables_length {
	margin-top: -40px;
}
</style>


</html>
