<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PFC - Material List</title>
<link rel="icon" type="image/ico" th:href="@{/static/favicon.ico}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/dataTables.material.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
</head>

<body class="sb-nav-fixed">
	<div th:replace="/header :: navBar"></div>
	<div id="layoutSidenav">
		<div th:replace="/header :: sideNavBar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid" id="content">
					<br />		
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active" ><a th:href="@{/}"><i class="fa fa-home"></i></a></li>
						<li class="breadcrumb-item active" ><a th:href="@{/menu/rawMaterialMenu}"><span th:text="#{menuRM}"></span></a></li>
						<li class="breadcrumb-item active" >Raw Material Management</li>
					</ol>
					<div class="alert alert-danger alert-dismissible" th:if="${error}">
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:utext="${error}"></a>
					</div>
					<div class="alert alert-success alert-dismissible"
						th:if="${success}">
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<a th:text="${success}"></a>
					</div>
					<div id="accordionExample">
						<div class="card">
							<div class="card-header" id="headingOne">
								<div class="d-flex justify-content-between">
									<div class="left">Search Criteria for Raw Material</div>
									<div class="right">
										<span class="clickable" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="true"
											aria-controls="collapseOne"> <i
											class="fas fa-angle-down" style="cursor: pointer;"></i>
										</span>
									</div>
								</div>
							</div>
							<div id="collapseOne" class="collapse show"
								aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<form th:action="@{/main/material/rawMatlList}" method="post">
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Raw Material Name</label> <label
												class="col-form-label">:</label>
											<div class="row col-sm-7">
												<div class="col">
													<input type="text" class="form-control" id="recId" maxlength="100"
														th:value="${rawMat}" name="rawMat">
												</div>
												<div class="col col-sm-4">
													<select class="custom-select" name="exp1">
														<option value="1" th:selected="${exp1 == '1'}">Any</option>
														<option value="2" th:selected="${exp1 == '2'}">End with</option>
														<option value="3" th:selected="${exp1 == '3'}">Exact match</option>
														<option value="4" th:selected="${exp1 == '4'}">Start with</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">TS No</label> <label
												class="col-form-label">:</label>
											<div class="row col-sm-7">
												<div class="col">
													<input type="text" class="form-control" id="subject" maxlength="10"
														th:value="${tsNo}" name="tsNo">
												</div>
												<div class="col col-sm-4">
													<select class="custom-select" name="exp2">
														<option value="1" th:selected="${exp2 == '1'}">Any</option>
														<option value="2" th:selected="${exp2 == '2'}">End with</option>
														<option value="3" th:selected="${exp2 == '3'}">Exact match</option>
														<option value="4" th:selected="${exp2 == '4'}">Start with</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Manufacturer</label> <label
												class="col-form-label">:</label>
											<div class="row col-sm-7">
												<div class="col">
													<input type="text" class="form-control" id="subject" maxlength="100"
														th:value="${manufacturer}" name="manufacturer">
												</div>
												<div class="col col-sm-4">
													<select class="custom-select" name="exp3">
														<option value="1" th:selected="${exp3 == '1'}">Any</option>
														<option value="2" th:selected="${exp3 == '2'}">End with</option>
														<option value="3" th:selected="${exp3 == '3'}">Exact match</option>
														<option value="4" th:selected="${exp3 == '4'}">Start with</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Supplier</label> <label
												class="col-form-label">:</label>
											<div class="row col-sm-7">
												<div class="col">
													<input type="text" class="form-control" id="subject" maxlength="100"
														th:value="${supplier}" name="supplier">
												</div>
												<div class="col col-sm-4">
													<select class="custom-select" name="exp4">
														<option value="1" th:selected="${exp4 == '1'}">Any</option>
														<option value="2" th:selected="${exp4 == '2'}">End with</option>
														<option value="3" th:selected="${exp4 == '3'}">Exact match</option>
														<option value="4" th:selected="${exp4 == '4'}">Start with</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Status</label>
											<div class="row col-sm-7">
												<label class="col-form-label">:</label>
												<div class="col col-sm-8">													
													<select class="custom-select" name="status" id="status">
														<option value="0" th:selected="${status == 0}">Please Select</option>	
														<option value="3" th:selected="${status == 3}">Completed</option>															
														<option value="1" th:selected="${status == 1}">Draft</option>
														<option value="2" th:selected="${status == 2}">Pending Authorization</option>														
														<option value="4" th:selected="${status == 4}">Rejected</option>
														<option value="5" th:selected="${status == 5}">Rework</option>
														<option value="6" th:selected="${status == 6}">Pending Authorization - rework</option>		
														<option value="8" th:selected="${status == 8}">Changed - Pending Authorization</option>		
														<!-- <option value="10" th:selected="${status == 10}">Changed - rework</option> -->
														<option value="11" th:selected="${status == 11}">Pending Deactivate</option>		
														<option value="12" th:selected="${status == 12}">Deactivated</option>		
														<option value="13" th:selected="${status == 13}">Pending Activate</option>																																																				
													</select>													
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label"></label>
											<div class="row col-sm-3">
												<div class="d-flex ">
													<button class="btn btn-primary" type="submit"
														style="margin-right: 5px; margin-left: 18px; width: 90px;">Search</button>
													<a type="button" class="btn btn-primary" th:href="@{/main/material/rawMatlList}"
														style="width: 90px;">Reset</a>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">Raw Material
								Listing</div>
							<div class="card-body">
								<form action="#" th:action="@{/main/material/rawMatlListDel}"
									method="post">
									<br>
									<div class="d-flex justify-content-end">
										<button class="btn btn-danger" id="btnDelete" type="button" th:if="${btnDel}"
											data-toggle="modal" data-target="#confirmDialog"
											style="width: 90px; margin-right: 5px;" disabled="disabled">Delete</button>
										<a class="btn btn-primary" th:href="@{/main/material/rawMatlForm}"
												style="width: 90px;" th:if="${btnAdd}">Add</a>
									</div>

									<div class="modal fade" id="confirmDialog" tabindex="-1"
										role="dialog" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Delete Confirmation</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">Are you confirm to delete
													selected record?</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-primary">Confirm</button>
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Cancel</button>
												</div>
											</div>
										</div>
									</div>

									<table class="table table-bordered table-responsive" id="idTableMatlList">
										<thead>
											<tr>
												<th class="text-left" width="40px"><input
													type="checkbox" id="checkAll" /></th>
												<th class="text-left">Raw Material</th>
												<th class="text-left">TS No</th>
												<th class="text-left">Manufacturer</th>
												<th class="text-left">Supplier</th>
												<th class="text-left">VIPD Date</th>
												<th class="text-left">Declaration Date</th>
												<!--  Fields removed according to UAT log no.20 9/4/2021 -->
<!-- 											<th class="text-left">INS</th>
												<th class="text-left">FEMA No</th>
												<th class="text-left">JECFA No</th> -->
												<th class="text-left">GMO</th>
												<th class="text-left">Flavor Status</th>
												<th class="text-left">Status</th>
												<th class="text-left">Created Date</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="rmList: ${materialLists}">
												<td>
													<span th:if="${rmList.recordStatus == 1}">
														<span th:if="${rmList.permissionToDelete}">
															<input type="checkbox" name="tableRow"
																id="tableRow" onclick="delButtonToggle()"
																th:value="${rmList.rawMatlId}"/>
														</span>
														<span th:unless="${rmList.permissionToDelete}">
															<a style="margin-left:3px;">-</a>
														</span>
													</span>
													<span th:if="${rmList.recordStatus != 1}">
														<a style="margin-left:3px;">-</a>
													</span>
												</td>
												<td><a th:text="${rmList.rawMatlName}"
													th:href="@{/main/material/rawMatlFormView(matlId=${rmList.rawMatlId})}"></a>
												</td>
												<td th:utext="${rmList.tsNoManufacturer}"></td>
												<td th:utext="${rmList.manufacturer}"></td>
												<td th:utext="${rmList.supplier}"></td>
												<td th:utext="${rmList.vipdDate}"></td>
												<td th:utext="${rmList.vipdAnnex2Date}"></td>
												<!--  Fields removed according to UAT log no.20 9/4/2021 -->
<!-- 												<td th:text="${rmList.insNo}"></td>
												<td th:text="${rmList.femaNo}"></td>
												<td th:text="${rmList.jecfaNo}"></td> -->
												<td th:text="${rmList.gmoStatus}"></td>
												<td th:text="${rmList.flavStatusName}"></td>
												<td>
													<span th:if="${rmList.recordStatus == 1}">Draft</span>
													<span th:if="${rmList.recordStatus == 2}">Pending Authorization</span>
													<span th:if="${rmList.recordStatus == 3}">Completed</span>
													<span th:if="${rmList.recordStatus == 4}">Reject</span>
													<span th:if="${rmList.recordStatus == 5}">Rework</span>
													<span th:if="${rmList.recordStatus == 6}">Pending Authorization - rework</span>
													<span th:if="${rmList.recordStatus == 8}">Changed - Pending Authorization</span>
													<span th:if="${rmList.recordStatus == 10}">Changed - rework</span>
													<span th:if="${rmList.recordStatus == 11}">Pending Deactivate</span>
													<span th:if="${rmList.recordStatus == 12}">Deactivated</span>
													<span th:if="${rmList.recordStatus == 13}">Pending Activate</span>
												</td>
												<td th:text="${#dates.format(rmList.createdDate, 'dd/MM/yyy hh:mm:ss a')}"></td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script type="text/javascript" src="../../js/scripts.js"></script>

</body>
<style>
.dataTables_length {
	margin-top: -30px;
}
</style>
</html>
